.main{
    font-size: 12px;
    border-bottom:1px solid orange;
    border-top:1px solid orange;
    margin: 5px;
    padding: 5px;
    animation: fadein 2s;
}
@keyframes fadein{
    from {opacity:0};
    to {opacity:1};
}