
html, body{
    height:100%;
    margin:0;
}
body{
    margin: 0;
    background-size: cover;
    min-height: 100%;
background-repeat: repeat;
background-position: center center;   
animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.container{
    color: green;
    margin: 0 auto;
    width:100%;
    font-family: "Raleway", serif;
    animation: fadein 2s;
}
.image{
    margin:0 auto;
    width:100%;
    height:100vh;
    position:absolute;
    background-size: cover;
    z-index:0;
    animation: changeSlides 50s infinite; 
}
.centered{
    background-color: rgba(77, 220, 16, 0.8);
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.white{
    background-color: white;
    width:50%;
    margin:5px auto;
    font-size:4vh;
    animation:fadein 2s;
}
.transparent{
    opacity:1;
}
.logo{
    text-align: center;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 300;
}
.header2{
    text-align: center;
    color:white;
    font-family: "Poppins", serif;
    font-weight: 200;
}

.article{
    background-color: white;
    margin:5px auto;
    padding:5px;
    width:80%;
    text-align:center;
    border: 2px solid orange;
    font-family: "Benne", cursive;
    animation: fadein 2s;
}
@keyframes changeSlides{
    0%{
        background-image: url(../images/slider/windmill.jpg);
    }
    25%{
        background-image: url(../images/slider/bee.jpg);
    }
    50%{
        background-image: url(../images/slider/green.jpg);
    }
    75%{
        background-image: url(../images/slider/forestkids.jpg);
    }
    100%{
        background-image: url(../images/slider/windmill.jpg);
    }
}