.menu{
    margin: 0 auto;
    padding:15px 0 15px 0;
    width:100%;
    background-color: white;
    z-index:1;
    position: sticky;
    top:0;
    border-bottom: 2px solid orange;
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.navItem{
    width:50px;
    height:100%;
    margin:5px;
    padding:5px;
    font-size:18px;
    font-family: "Raleway";
    z-index: 1;
    color:green;
    text-decoration:none;
}
.navItem:hover{
    border:1px solid orange;
    background-color: green;
    color:white;
}
.logo{
    font-family: "Josefin Slab", serif;
    width:80px;
    height:100%;
    margin: 0 25px 0 0;
    padding-left: 15px;
    font-size:25px;
    color:green;
    z-index: 1;
    display:initial;
}