@keyframes load{
    from {opacity:0}
    to {opacity:1}
}

@keyframes fadein{
    0%{
        opacity:1;
       background-color:green;
    }
    50%{
        opacity:0;
        background-color:rgb(224, 238, 134);
    }
    100%{
        opacity:1;
        background-color:orange;
    }
}
.article{
    font-family: "Benne", cursive;
}
.white{
    background-color:white;
    margin: 0 auto;
    width:70%;
    animation:load 2s;
}
.leaf{
    height:20px;
    width:auto;
    padding:initial;
}
.span{
    border:1px solid green;
    padding:5px 5px;
    height:70px;
    font-size:15px;
}
.span:hover{
    border:1px solid green;
    padding:5px 5px;
    height:70px;
    font-size:15px;
    background-color:green;
    color: white;
}
.favorite{
    background-color:orange;
    color:white;
    border:1px solid green;
    padding:5px 5px;
    height:70px;
    font-size:15px;
}
.activeSpan{
    border:1px solid orange;
    padding: 0 5px;
    height:70px;
    font-size:25px;
}
.user{
    margin:5px;
    padding:5px;
    font-style: italic;
}
.articleBody{
    margin:5px;
    padding:5px;  
}
.header2{
    text-align: center;
    color:green;
    font-family: "Raleway";
    font-weight: bold;
    
}
.header3{
    font-family: "Raleway";
}
.link{
    padding:5px;
    font-family: "Raleway";
    text-decoration:none;
    background-color:green;
    color:white;
}
a.link:hover{
    background-color:orange;
    animation: fadein 0.5s;
}
